
    @font-face {
        font-family: "Minecraftia";
        src: url(Minecraftia-Regular.ttf);
    }

    html,body {
        padding: 0;
        margin: 0;
        font: 14px 'Open sans', sans-serif;
        color: #333;
        background: url("https://media.giphy.com/media/CAYVZA5NRb529kKQUc/giphy.gif") center;
        background-size: cover;
        
    }
    h1 {
        margin: 0;
        margin-bottom: 20px;
        font-size: 24px;
    }
    form {
        padding: 40px;
        background: #DDD;
        border: 4px solid #AAA;
        width: 360px;
        margin: 30px auto;
    }
    input {
        font: 13px 'Open Sans', sans-serif;
        border: 2px solid #ccc;
        padding: 6px;
        display: block;
        margin-bottom: 10px;
        width: 96%;
    }
    button {
        font: 13px 'Open Sans', sans-serif;
        background-color: #4285f4;
        color: white;
        padding: 6px;
        cursor: pointer;
        border: none;
        margin-top: 10px;
        text-transform: uppercase;
    }

    p {
        text-align: center;
        position: absolute;
        top: 19%;
        left: 47%;
    }

    #show_password {
        transform: translate(5250%, -727.5%)
    }

    .passwd {
        display: flex;
        
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }